.body{
    background: #fff;
    color: #444;
    font-family: 'Google Sans';
    letter-spacing: .5px;
}


.banner{
    background-image: url(./images/hero-image.png);
    background-size: cover;
    height: 900px;
}
.homeloan-btn{
    color: white;
    border: 1px solid white;
    /* outline: 0; */
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    font-family: 'Google Sans';
    border-radius: 2px;
}
.top-header-color{
   background-color:  rgba(230, 0, 42, 0.5)!important;
    height: 71px;
   width: 100%;
}
.nav-link{
    color: white;
   

}
.nav-link:hover{
    color: white;
}
.list-property{
    border: 1px solid white;
    background-color: white;
    color: black;
    border-radius: 2px;
}
.social-icon{
    font-size: 21px;
}
.search-property-bg{
    background: rgba(0,0,0,0.66);
    height: fit-content;
    border-radius: 4px;
    
}
.search-property{
    color: white;
     border: 0; 
     text-decoration: none;
    
}
.active, .search-property:hover{
     background-color: #E4002B !important;
    border-color: #E4002B #fff;
    color: #fff;
    border: 1px solid #e4002b;
   
}



.navbar-list{
    width: 100%;
    overflow: auto; float: right;
    margin-top: -59px;
    background-color: transparent;
}
.navbar-list a{
    border-top-right-radius: 4px;
    float: left;
    border: 0;
    background: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-top: 5px;
    margin-right: 5px;
    margin-top: 5px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    border-top-left-radius: 4px;
}
.navbar-list i{
    color: white;
}
.navbar-search {
    width: 100%;
    overflow: auto;
  }
  
  .navbar-search a {
    border-top-right-radius: 4px;
 display: inline-flex;
    background-color: #555;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-top: 5px;
    margin-right: 5px;margin-top: 5px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    border-top-left-radius: 4px;
  }
  
  .navbar-search a:hover {
    background-color: #000;
  }
  
 
  .select{
    margin: 0;
    font-family: 'Google Sans';
    font-size: inherit;
    line-height: inherit;
    height: 56px;
    font-weight: 500;
    color: rgba(0,0,0,0.77);
    border: 0;
    outline: 0;
}
  
  
  

 
  .inlineCheckbox{
      border: 1px solid #ddd;
      color: #ddd;
      border-radius: 1px;
  }
  #selectionbox {
    display: block;
  }
  [contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.vertical{
    position: absolute;
    margin-top: 8px;
    height: 39px;
    width: 1px;
   background:  rgba(0,0,0,0.11);;
    margin-left: 7px;
   content: "";
}

.search-icon{
    position: absolute; 
    bottom: 30px;
     padding-left: 9px; 
     display:block
}
@media screen and (max-width: 480px) {
    .navbar-search a {
      float: none;
      display: inline-block;
    }
    .search1{
       
        width: 421px;
        margin-left: 10px;
    }
   
    .search-icon{
        position: absolute; 
        bottom: 17px;
        padding-left: 9px; 
        display:block;
    }
    .banner{
        background-image: url(./images/hero-image.png);
        background-size: cover;
        height: 900px;
    }
  }
  .carousel-inner .active{
      background-color: #eee;
  }
 
 .card-detail h5{
    color: rgba(0,0,0,0.44);
    float: left;
    font-size: 13px;
    font-weight: bold;
}
.card-detail h2{
    color: #0E0E0E;
    font-size: 16px;
    float: left;
    text-align: initial;
    font-weight: 600;
    font-family: inherit;
}
.card-detail p{
    color: rgba(14,14,14,0.55);
    float: left;
    text-align: initial;
    font-size: 13px;
}
.card-detail h6{
    color: #0E0E0E;
    float: left;
    text-align: initial;
    font-size: 16px;
    font-weight: 600;
}
.Boutique{
    background-image: url(./images/gulf-road-butique.png);
    /* background-size: cover; */
    /* height: 75vh; */
    background-repeat: no-repeat;
    background-position: right 0;
    padding: 30px 20px 30px 0;
}





.owl-carousel .item{
    background: #42bdc2;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }

  .owl-prev {
    width: 15px;
    position: absolute;
    top: 40%;
    left: -40px;
    display: block !important;
    border:0px solid black;
}


.owl-next {
    width: 15px;
  
    position: absolute;
    top: 40%;
    right: 1px;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i 
{ 
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 33%);
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* padding-top: 7px; */
    padding: 7px;
    font-size: 35px;
    color: rgba(14,14,14,0.55);
    }
.owl-nav{
    margin: 0;
}
.owl-theme .owl-nav [class*='owl-']:hover {
     background: white !important;
     color: none !important;
     text-decoration: none !important; 
     border: 0 !important;
}

.owl-carousel .item {
 background:none !important;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
  .active, .owl-carousel .item {
    background-color: none !important;
}
.owl-item {
    background: none !important;
    border: 0 !important;
   
}
.buddies h4{
    color: #0E0E0E;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    float: left;
    padding-left: 15px;

}
.buddies h6{
    color: #0E0E0E;
    font-size: 14px;
    float: left;
    padding-left: 15px;
}
.buddies span{
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    border-radius: 4px;
    background-color: #F1F1F1;
    padding: 8px 15px;
    display: inline-block;
    margin-top: 8px;

}
.star-block{
    position: absolute;
    width: 100%;
    height: 35px;
    background-color: #444;
   
}
.super-agent p{
    color: rgba(0,0,0,0.55);
    font-size: 11px;
    text-transform: uppercase;
}
.super-agent h6{
    color: #0E0E0E;
    font-size: 14px;
}
.super-agent h4{
    color: #0E0E0E;
    font-size: 18px;
    font-weight: bold;
  
}
.light-blue{
    background-color: rgba(0,132,137,0.11)!important;
    color: #008489!important;
}
.bdr-right {
    border-right: 1px solid #ddd;
}

#owl-example  .owl-prev {
    width: 15px;
    position: absolute;
    top:45%;
    left: -40px;
    display: block !important;
    border:0px solid black;
}
#owl-example .owl-next {
    width: 15px;
    position: absolute;
    top: 45%;
    right: 1px;
    display: block !important;
    border:0px solid black;
}
.blogs h4{
    color: #0E0E0E;
    font-size: 16px;
    font-weight: bold;
    text-align: initial;
}
.blogs span {
    color: rgba(0,0,0,0.55);
    font-size: 13px;
    float: left;
}
.countries img{
    border-radius: 5px;
    overflow: hidden;
    float: left;
    position: relative;
    transition: all .5s ease-in-out;
}
.countries img:hover{
    transform: scale(1.04); 
    filter: sepia(100%);
}
.countries .name{
    position: absolute;
    color: #fff;
    top: 40%;
    text-align: center;
    
    font-size: 24px;
    font-weight: bold;
}
.review{
    border-radius: 10px;
    background-color: #FAFAFA !important;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 8%);
    position: relative;
    margin-bottom: 15px;
}
.review h4{
    color: #26262E;
    font-size: 24px;
    float: left;
    font-weight: bold;
    margin-bottom: 5px;
}
.review span{
    color: rgba(38,38,46,0.5);
    font-size: 16px;
    font-weight: 600;
 
    display: inline-block;
    float: left;
    margin-bottom: 10px;
}
.review h6{
    color: #26262E;
    float: left;
    font-size: 15px;
    text-align: initial;
    font-family: -webkit-pictograph;
}
.coma{
    position: absolute;
    right: 25px;
   
    display: inline-block!important;
    width: auto!important;

}
.footer{
    background: linear-gradient(180deg, #1D1D1D 0%, #0A0A0A 100%);
    background-image:url(./images/footer.png);
    background-size: cover;
    
    background-repeat: no-repeat;
}
.footer p{
    color: #fff;
    font-size: 14px;
    opacity: 0.7;
}
.footer .list-group-item{
background-color: transparent !important;
border: none !important;
}

.footer .list-group-item a{
    color: white;
    opacity: 0.7;
    font-size: 14px;
    text-decoration: none;
}
.footer .list-group-item a:hover{
    color: white;
    opacity: 1.5;
}
.footer .btn{
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 8px;
    color: #0E0E0E;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}
.footer h4{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
   
}
.footer input{
    border-radius: 4px;
    background-color: #212020;
    border: none;
    padding: 10px;
    color: #fff;
    transition: all .3s ease-in-out 0s;
}
.submit-btn{
    background: #E4002B;
    border: 1px solid #e4002b;
    padding: 6px 25px;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    transition: all .3s ease-in-out 0s;

}
.owl-dots {
    text-align: center;
    padding-top: 15px;
  }
  .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
   
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
  .owl-dots button.owl-dot.active {
    background-color: black !important;
    border: 1px solid black;
    
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: -6px 2px !important;
    background: #D6D6D6;
    display: block;
   
    transition: opacity 200ms ease;
    border-radius: 30px;
}
  .owl-dots button.owl-dot:focus {
    outline: none;
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #eee !important;
}


